#####################################################################
# Redis options
#####################################################################
# REDIS_HOST is a host which will be accessible for workers
REDIS_HOST=192.168.21.130
# REDIS_PORT is a port which will be accessible for workers
REDIS_PORT=6379
# REDIS_PASSWORD is password to secure redis connection
REDIS_PASSWORD=strong_pass

#####################################################################
# Project options
#####################################################################
# SECRET_KEY is a key for Flask encryption purposes
SECRET_KEY=814b28aa-0b6f-4e03-895b-9514b15b3804
# UI_PORT is a port on which the front-end will be up
UI_PORT=9090